.cursor{
    cursor: pointer;
}
h1{
    font-size: 2.5vw;
}

.Space{
    color: rgb(20, 121, 252);
}
.Space:hover{
    color: rgb(0, 17, 255) ;
}

.threeD{
    color : rgb(255, 166, 0);
}
.threeD:hover{
    color: rgb(255, 136, 0);
}

li{
    color: white;
    font-size: 3vh;
    font-family:'GangwonEduSaeeum_OTFMediumA';
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* 다른 컴포넌트보다 앞에 나타나도록 설정 */
}
